In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
%matplotlib inline

In [6]:
train = pd.read_csv('../../data/datatraining.csv')
test_1 = pd.read_csv('../../data/dataset.csv')

In [7]:
train.head()

,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
0,04-02-2015 17:51,23.18,27.2720,426.0,721.25,0.004793,1
1,04-02-2015 17:51,23.15,27.2675,429.5,714.00,0.004783,1
2,04-02-2015 17:53,23.15,27.2450,426.0,713.50,0.004779,1
3,04-02-2015 17:54,23.15,27.2000,426.0,708.25,0.004772,1
4,04-02-2015 17:55,23.10,27.2000,426.0,704.50,0.004757,1

In [8]:
test_1.head()

,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
0,02-02-2015 14:19,23.7000,26.272,585.200000,749.200000,0.004764,1
1,02-02-2015 14:19,23.7180,26.290,578.400000,760.400000,0.004773,1
2,02-02-2015 14:21,23.7300,26.230,572.666667,769.666667,0.004765,1
3,02-02-2015 14:22,23.7225,26.125,493.750000,774.750000,0.004744,1
4,02-02-2015 14:23,23.7540,26.200,488.600000,779.000000,0.004767,1

In [9]:
X_train = train.iloc[:,1:6].values
y_train = train.iloc[:,-1].values
X_test1 = test_1.iloc[:,1:6].values
y_test1 = test_1.iloc[:,-1].values

In [11]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

X_train = sc.fit_transform(X_train)
X_test1 = sc.transform(X_test1)

<b>MLP Classifier </b>

In [13]:
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(solver='lbfgs', alpha=1e-5,hidden_layer_sizes=(5, 2), random_state=1)

In [14]:
clf.fit(X_train,y_train)

MLPClassifier(activation='relu', alpha=1e-05, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(5, 2), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=1, shuffle=True,
       solver='lbfgs', tol=0.0001, validation_fraction=0.1, verbose=False,
       warm_start=False)

<b>PREDICTION </b>

In [16]:
y_pred = clf.predict(X_test1)
y_pred

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

<B> Check Accuracy </B>

In [17]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

# Function to calculate accuracy
def cal_accuracy(y_test, y_pred):
     
    print("Confusion Matrix: ",
        confusion_matrix(y_test, y_pred))
     
    print ("Accuracy : ",
    accuracy_score(y_test,y_pred)*100)
     
    print("Report : ",
    classification_report(y_test, y_pred))

In [18]:
cal_accuracy(y_test1,y_pred)

Confusion Matrix:  [[1639   54]
 [   1  971]]
Accuracy :  97.93621013133207
Report :               precision    recall  f1-score   support

          0       1.00      0.97      0.98      1693
          1       0.95      1.00      0.97       972

avg / total       0.98      0.98      0.98      2665